*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
}
ul{
    display: flex;
    justify-content: center;
    
}
ul li{
    padding: 5px 30px ;
    list-style-type: none;
    text-align: center;

}
a{
    text-decoration: none;
font-size: 20px;
}

p,img {
    text-align: center;
}
.image-box{
    border: 1px solid black;
    width: 90%;
    height: 500px;
    
    margin:  50px auto;

}
img{
    width:50%;

}
.image-box{
    display: flex;
}